# Basic tutorial of finlib library

First it is necessary to import everything from the finlib.py file

In [1]:
from library.finlib import *

We'll test it out on apple. It might not work for certain other companies in some cases, and it will definitely only work for stocks, but hopefully y'all find ways to break it that I can fix :)

**Note that this library incorporates class level memoization - which means that the first few functions you run will take time as the program must retrieve data, but it stores that data locally while the notebook is open so the program will speed up very quickly as it is used**

*Also note that this data is collected through a combination of yahoo finance and web scraping, and thus is not super extensive, nor potentially highly accurate - it is free tho*

In [30]:
# Instantiating a Company class of the stock ticker we're interested in

aapl = Company('aapl')

In [31]:
# Checking the ticker is properly set

aapl.check_ticker()

'AAPL'

In [32]:
# Checking some basic preset metrics

print("preset risk free rate of return: {}".format(aapl.check_risk_free_ror()))
print("preset market rate of return: {}".format(aapl.check_market_ror()))  
print("preset old corporate tax rate: {}".format(aapl.check_old_corporate_tax_rate())) 
print("preset new corporate tax rate: {}".format(aapl.check_new_corporate_tax_rate()))

preset risk free rate of return: 0.025
preset market rate of return: 0.098
preset old corporate tax rate: 0.35
preset new corporate tax rate: 0.21

In [33]:
# Can set the risk_free_ror and market_ror to any chosen values

aapl.set_market_ror(0.1)
aapl.set_risk_free_ror(0.3)

In [34]:
# Can get the balance sheet as a dataframe, I am only returning the top 3 items
# in order to save visual space in the notebook
aapl.get_balance_sheet().head(3)

                        2015         2016         2017         2018
accountsPayable  35490000000  37294000000  44242000000  55888000000
cash             21120000000  20484000000  20289000000  25913000000
commonStock      27416000000  31251000000  35867000000  40201000000

In [35]:
# Can get the income statement as a dataframe

aapl.get_income_statement().head(3)

                                2015          2016          2017          2018
costOfRevenue           1.400890e+11  1.313760e+11  1.410480e+11  1.637560e+11
discontinuedOperations           NaN           NaN           NaN           NaN
ebit                    7.123000e+10  6.002400e+10  6.134400e+10  7.089800e+10

In [36]:
# Can get the cash flow statement as a dataframe

aapl.get_cash_flow_statement().head(3)

                                   2015         2016         2017         2018
capitalExpenditures        -11247000000 -12734000000 -12451000000 -13313000000
changeInCash                 7276000000   -636000000   -195000000   5624000000
changeToAccountReceivables    417000000    527000000  -2093000000  -5322000000

In [37]:
# Can get key statistics of stock

aapl.get_key_statistics().head()

annualHoldingsTurnover       None
enterpriseToRevenue         3.524
beta3Year                    None
profitMargins             0.22117
enterpriseToEbitda         11.778
dtype: object

In [38]:
# Can get the historical EPS up to 4 quarters
aapl.get_historical_eps()

  textdate   timestamp   eps consensus_eps surprise
0  Jun2018  07/31/2018  2.34          2.17     7.83
1  Sep2018  11/01/2018  2.91          2.79      4.3
2  Dec2018  01/29/2019  4.18          4.17     0.24
3  Mar2019  04/30/2019  2.46          2.37      3.8

In [39]:
# Can get all historical price data - hopefully you can index by date in pandas!
# If you don't know how just look on stack overflow, it is very easy.

aapl.get_price_data().head()

,adjclose,close,date,formatted_date,high,low,open,volume
0,0.022919,0.513393,345479400,1980-12-12,0.515625,0.513393,0.513393,117258400.0
1,0.021723,0.486607,345738600,1980-12-15,0.488839,0.486607,0.488839,43971200.0
2,0.020129,0.450893,345825000,1980-12-16,0.453125,0.450893,0.453125,26432000.0
3,0.020627,0.462054,345911400,1980-12-17,0.464286,0.462054,0.462054,21610400.0
4,0.021225,0.475446,345997800,1980-12-18,0.477679,0.475446,0.475446,18362400.0

### Now we'll look at some methods to gather specific figures and ratios

In [40]:
# Example of a method that works with no arguments

aapl.outstanding_shares()

4601079808

In [41]:
# Other methods that do not require arguments

print("share price: {}".format(aapl.share_price()))
print("market value: {}".format(aapl.market_value()))
print("earnings per share: {}".format(aapl.earnings_per_share()))
print("pe ratio: {}".format(aapl.pe_ratio()))
print("enterprise value: {}".format(aapl.enterprise_value()))
print("beta: {}".format(aapl.beta()))
print("cost of equity: {}".format(aapl.cost_of_equity()))
print("short ratio: {}".format(aapl.short_ratio()))

share price: 190.0800018310547
market value: 874573258329.4688
earnings per share: 11.886999957099738
pe ratio: 15.990578
enterprise value: 910975238144
beta: 0.893219
cost of equity: 0.1213562
short ratio: 2.19

In [42]:
# Example of a method that requires an argument (really only year)

aapl.revenue(2018)

265595000000

In [43]:
# Other methods that require year as an argument 
# (because it is yahoo finance it only goes to a maximum of 4 years back in time)

# I'm setting year at the top so it can easily be adjusted and passing it into the function
# in each print statement

year = 2018

print("total expenses: {}".format(aapl.total_expenses(year)))
print("operating expenses: {}".format(aapl.operating_expenses(year)))
print("liquid assets: {}".format(aapl.liquid_assets(year))) # liquid assets is cash and short term investments
print("total debt: {}".format(aapl.total_debt(year)))
print("tax: {}".format(aapl.tax(year))) # income taxes paid
print("interest: {}".format(aapl.interest(year))) # interest paid
print("depreciation: {}".format(aapl.depreciation(year)))
print("cost of revenue: {}".format(aapl.cost_of_revenue(year)))
print("total receivables: {}".format(aapl.total_receivables(year)))
print("total liabilities: {}".format(aapl.total_liabilities(year)))
print("total assets: {}".format(aapl.total_assets(year)))
print("total capital: {}".format(aapl.total_capital(year)))
print("total equity: {}".format(aapl.total_equity(year)))
print("capital expenditures: {}".format(aapl.capital_expenditures(year)))
print("net income: {}".format(aapl.net_income(year)))
print("gross profit: {}".format(aapl.gross_profit(year)))
print("ebit: {}".format(aapl.ebit(year)))
print("ebitda: {}".format(aapl.ebitda(year)))
print("quick ratio: {}".format(aapl.quick_ratio(year)))
print("income from continuing operations margin: {}".format(aapl.income_continuing_operations_margin(year)))
print("net margin: {}".format(aapl.net_margin(year)))
print("return on assets: {}".format(aapl.return_on_assets(year)))
print("return on capital: {}".format(aapl.return_on_capital(year)))
print("return on equity: {}".format(aapl.return_on_equity(year)))
print("cash flow operations: {}".format(aapl.cash_flow_operations(year)))
print("free cash flow: {}".format(aapl.free_cash_flow(year)))
print("gross profit margin: {}".format(aapl.gross_profit_margin(year)))
print("operating profit margin: {}".format(aapl.operating_profit_margin(year)))
print("net profit margin: {}".format(aapl.net_profit_margin(year)))

total expenses: 222212000000
operating expenses: 194697000000
liquid assets: 66301000000
total debt: 102519000000
tax: 13372000000
interest: -3240000000
depreciation: 10903000000
cost of revenue: 163756000000
total receivables: 48995000000
total liabilities: 258578000000
total assets: 365725000000
total capital: 209666000000
total equity: 107147000000
capital expenditures: -13313000000
net income: 59531000000
gross profit: 101839000000
ebit: 70898000000
ebitda: 87046000000
quick ratio: 0.4458848007177718
income from continuing operations margin: 0.26694026619477024
net margin: 0.22414202074587247
return on assets: 0.160667922552507
return on capital: 0.2503684266990899
return on equity: 0.661689081355521
cash flow operations: 70898000000
free cash flow: 81651400000.0
gross profit margin: 0.38343718820007905
operating profit margin: 0.26694026619477024
net profit margin: 0.22414202074587247